#card1{
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card1 .card{
    width: 400px;
    height: 900px;
    background-color: red;
}
#card1 .main{
  width: 100%;
    
}
#card1 .main .main-img{
    width: 100%;
    height: 300px;
}
#card1 .main .main-img img{
  
}
#card1 .text{

}
#card1 .text .text-name{

}
#card1 .text .text-name p{

}
#card1 .text .text-headline{

}
#card1 .text .text-headline h1{

}
#card1 .text .text-main{

}
#card1 .text .text-main p{

}
#card1 .button{

}
#card1 .button .button-img{}
#card1 .button .button-img img{

}
#card1 .button .button-name{

}
#card1 .button .button-name h4{

}
#card1 .button .button-action{

}
#card1 .button .button-action p{
   
}