#card1{
    background-color: #f2f2f2;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card1 .main{
    
}
#card1 .main .main-img{
    
}
#card1 .main .main-img img{
  
}
#card1 .text{

}
#card1 .text .text-name{

}
